@using ActionMailer.Net.Mvc
@using CommonClasses.InfoClasses
@model PasswordMailInfo
@{
    Layout = null;
}

Уважаемый @Model.UserName!<br><br>
Вы отправили запрос на восстановление пароля!<br><br>
Для завершения процесса восстановления перейдите, пожалуйста, по 
<a href="@Url.AbsoluteAction("ChangePassword", "Login", new { key = Model.Code })" >ссылке</a>.
Вы сможете это сделать в течение часа.<br><br>
Если запрос был отправлен ошибочно, проигнорируйте данное письмо.<br><br>
Спасибо.<br>
С уважением, Dio-soft.
